<!DOCTYPE html>

<html lang="en-us">

<head>

	<meta charset="utf-8">
	<title>Finder's Fee</title>
<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<!--Latest compiled and minified CSS-->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		
<!-- //=====================================this below works!! -->
		<!-- Auth0 lock script -->
  		<script src="https://cdn.auth0.com/js/lock/10.8/lock.min.js"></script>

  		<!-- Setting the right viewport -->
  		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- //=====================================	 -->	

<!--//==========testing this below now-->


<link rel="icon" href="/assets/images/logo.png">

	 
</head>

<body>
<!-- //main handlebars will keep div's container, jumbotron on all pages================================== -->

	<div class="container" style="padding-bottom: 20px;">
	 	<div id="jumbotron img-responsive">
	 		<img src="assets/images/logo.png" align="left" style="width:250px;height:250px">
	 		<img src="assets/images/logo.png" align="right" style="width:250px;height:250px">	
        		<h1 class="text-center">The Search Is On!</h1>
        		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        		
     	</div>
    </div>

<br>
<!-- //no more page headers=============================================================================== -->
   {{{ body }}} 

<!-- //keeping footer on all pages========================================================================= -->

<div id="footer">
    <hr>
    © Copyright 2017, Finder's Fee
  </div>

</body>
</html>



