<!DOCTYPE html>

<html lang="en-us">

<head>

	<meta charset="utf-8">
	<title>Finder's Fee</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		
<!-- //=====================================this below works!! -->
		<!-- Auth0 lock script -->
  	<script src="https://cdn.auth0.com/js/lock/10.8/lock.min.js"></script>

  		<!-- Setting the right viewport -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link rel="icon" href="/assets/images/logo.png">
	 
</head>
<body>

<nav class="navbar navbar-inverse bg-inverse">
    <a class="navbar-brand" href="/">
        <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> 
    </a>
    <h1 class="navbar-brand mb-0">Finder's Fee</h1>
    <div class="navbtn">
       <a class="btn btn-primary btn-lg" href="/post" role="button">Finder</a> 
    </div>
    <div class="navbtn">
       <a class="btn btn-primary btn-lg" href="/seekerlogin" role="button">Seeker</a> 
    </div>
</nav>

   {{{ body }}} 

<footer>  © Copyright 2017, Finder's Fee </footer>

</body>
</html>






