<!--//This is page renders as last page of Finder after he/she gets $$paid finder's fee --> 
<div id="showmemoney" class="row">
<h2>Show Me The Money</h2> 
<p>We have sent you an email regarding how you will get paid</p>
<p>Contact Us with Questions at Finder's Fee International  1-800-FindFee</p>
</div>