<!--//This is page for Finder Login Instructions w/Auth0 -->

<!--Latest compiled and minified CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />


<div id="finderinstructions" class="row">
<h2>Helping Others Has Its Rewards!.</h2> 
<p>How?</p>
<p> Log In Below and start finding things today.  There will be instructions on how you can get a finder's fee.</p>
</div>

<div id="placement" class ="row">
 <p>Please Login Here
 </div>
<!-- //this works!! -->
<div class="row">
<div class="col-xs-12 text-center" id="bottom-bar">
  <img alt="avatar" id="avatar"  style="display:none">
   <span id="nickname"></span></p>
      {{!-- <button id="btn-login" class = "btn btn-primary">Log In</button> --}}
      <button id="btn-login" class = "btn btn-primary">Log In<!-- <a href="http://localhost:8080/userview/callback"> --></button>
      <button id="btn-logout" class = "btn btn-primary">Log Out</button>
</div>
</div>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
