
<!DOCTYPE html>


<html lang="en-us">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

  <link href="assets/css/style.css" rel="stylesheet">
  <script src="assets/js/main.js" type="text/javascript"></script>
  <script src="assets/js/login.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
	<div id="finderinstructions" class="row">
		<h2>Helping Others Has Its Rewards!.</h2> 
		<p>How?</p>
		<p> Log In Below and start finding things today.  There will be instructions on how you can get a finder's fee.</p>
	</div>
	<div id="placement" class ="row">
		<p>Please Login Here</p>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center" id="bottom-bar">
	 		<img alt="avatar" id="avatar"  style="display:none">
   			<span id="nickname"></span></p>
      		<button id="btn-login" class = "btn btn-primary">Log In<!-- <a href="http://localhost:8080/userview/callback"> --></button>
      		<button id="btn-logout" class = "btn btn-primary">Log Out</button>
			</div>
		</div>
	</div>
</body>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>