
<!-- <body> -->
	<!-- <div class="container" style="padding-bottom: 20px;">
	 	<div class="jumbotron">
	 		<img src="assets/images/logo.png" align="left" style="width:250px;height:250px">
	 		<img src="assets/images/logo.png" align="right" style="width:250px;height:250px">	
        		<h1 class="text-center">The Search Is On!</h1>
        		
     	</div>
    </div>

<br> -->
<!-- ////Page One================================================================ -->
    
					
<br>
<!--Seeker/Finder Buttons-->
    <div class="section">
    <div class="button">
    <!-- //=================================testing this 11:45 3/5/17 -->
    <div class="section">
   <div class="button">
        <button type="submit" class="btn btn-6 btn-6k"><a href="/seekerlogin"> Seeker</button>
        <button type="submit" class="btn btn-6 btn-6l"><a href="/post">Finder</button>
    </div>    
</div>

<br>
    <!-- //========================================================== -->
		<!-- <button type="submit" class="btn btn-6 btn-6k">Seeker</button> -->
		<!-- //when you click this button it will take you to the "/seekerlogin" on your browser window -->
		<!-- <div class="">
				<a href="/seekerlogin"><button type="button" class="btn btn-lg btn-primary"><h4><span class="glyphicon glyphicon-list-alt"></span> Seeker Go to form</h4></button></a>	
			</div> -->
		
<!-- <li><a href="/">Home</a></li>
           <li><a href="/landing">List</a></li> -->
           <!-- <li><a href="/signup">Add a company</a></li> --> 


		<!-- <button type="submit" class="btn btn-6 btn-6l">Finder</button> -->
		<!-- //when you click this button it will take you to "/post" in the browser to see all of the items in the db -->
				<!-- <div class="">
				<a href="/post"><button type="button" class="btn btn-lg btn-primary"><h4><span class="glyphicon glyphicon-list-alt"></span> Finder Go to post page</h4></button></a>	
				</div>

	</div>	
</div> -->
<br>
	<div class="container2">
	<ul>
  		<h3>Find Stuff, It's What we Do.</h3>
  		<br>
 			Decide if you're looking or finding.
 		<br>
 			Create an account.
 		<br>
 			Then look or help.
 	</ul>
</div>

<!-- <br>
<br>	
<div id="footer">
    <hr>
    © Copyright 2017, Finder's Fee
  </div>
 -->
<!-- </body> -->

<!-- <img alt="avatar" id="avatar" style="display:none;">
					<p>Welcome <span id="nickname"></span></p>
					<button id="btn-login">Log In</button>
					<button id="btn-logout">Log Out</button>
					<button type="button" class="btn btn-default" id="btn-logout">Logout</button>
 
 -->