<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    
					
<br>

   <div class="section">
 <div class="button">
      <button name="button" type="submit" class="btn btn-6 btn-6k" onclick="location.href='/seekerlogin'"> Seeker</button>
      <button name="button" type="submit" class="btn btn-6 btn-6l" onclick="location.href='/post'">Finder</button>
  </div>    
</div>

<br>
<br>

	<div class="container2">
	<ul>
  		<h3>Find Stuff, It's What we Do.</h3>
  		<br>
 			Decide if you're looking or finding.
 		<br>
 			 If you are looking for something click "Seeker".


        <br>
            If you would like to help find stuff and get paid for it click "Finder".
 	</ul>
</div>


