<
		<!-- //when you click this button it will take you to "dealdone" because you located the item -->
				 <div class="">
				<a href="/itemlocate"><button type="button" class="btn btn-lg btn-primary"><h4><span class="glyphicon glyphicon-list-alt"></span> Finder Go to dealdone page</h4></button></a>	
				</div> 