<div class="container">

		<h2>Seeker Questions</h2>
		<hr>

		<h3><strong> What are you looking for?</strong></h3>
		<h4>The Item Name you Are Looking for. (Required)</h4>
		<input type="text" name="" id="item_name" class="form-control" required >

		<!-- <h4>Link to Photo Image (Required)</h4>
		<input type="text" name="" id="photo" class="form-control" required >
 -->
		<hr>

		<h3><strong>Question 1</strong></h3>
		<h4>What category does this belong to?</h4>
	 	<select data-placeholder="" class="chosen-select" id="q1">
	 		<option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
      	</select>

		<h3><strong>Question 2</strong></h3>
		<h4>Generally speaking, you prefer dogs over humans.</h4>
	 	<select data-placeholder="" class="chosen-select" id="q2">
	 		<option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
      	</select>


		<h3><strong>Question 3</strong></h3>
		<h4>You find prefer to exercise with your dog than go to the gym.</h4>
	 	<select data-placeholder="" class="chosen-select" id="q3">
	 		<option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
      	</select>


		<h3><strong>Question 4</strong></h3>
		<h4>You would love to go swimming with a dog that might shake off water on you.</h4>
	 	<select data-placeholder="" class="chosen-select" id="q4">
	 		<option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
      	</select>


		<h3><strong>Question 5</strong></h3>
		<h4>Dogs barking at night while you sleep rarely bother you.</h4>
	 	<select data-placeholder="" class="chosen-select" id="q5">
	 		<option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
      	</select>


		<h3><strong>Question 6</strong></h3>
		<h4>You love to eat dog food-aka scooby snacks.</h4>
	 	<select data-placeholder="" class="chosen-select" id="q6">
	 		<option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
      	</select>


		<h3><strong>Question 7</strong></h3>
		<h4>You can tell what kind of a person someone is by what dog they have.</h4>
	 	<select data-placeholder="" class="chosen-select" id="q7">
	 		<option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
      	</select>

		<h3><strong>Question 8</strong></h3>
		<h4>Dogs are better than cats.</h4>
	 	<select data-placeholder="" class="chosen-select" id="q8">
	 		<option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
      	</select>

		<h3><strong>Question 9</strong></h3>
		<h4>You run into a fire engulfed building to save your dog any day.</h4>
	 	<select data-placeholder="" class="chosen-select" id="q9">
	 		<option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
      	</select>

		<h3><strong>Question 10</strong></h3>
		<h4>If you don't already have one, you would love to have a sticker on your car that says Dog's on Board.</h4>
	 	<select data-placeholder="" class="chosen-select" id="q10">
	 		<option value=""></option>
            <option value="1">1 (Strongly Disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly Agree)</option>
      	</select>

		<br>
		<br>

		<!-- Submit Button -->
		<button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle" aria-hidden="true"></i>
 Submit</button>
