<div class="container">

		<h2>Finder Questions</h2>
		<hr>

		<h3><strong> If you found something please provide info.</strong></h3>
		<h4>The Item Name of what you found. (Required)</h4>
		<input type="text" name="" id="item_name" class="form-control" required >


<!-- //Here we can ask for a url link to where the item can be found


//Next we can ask for more specific info and or photo link -->

		<h4>Link to Photo Image (Required)</h4>
		<input type="text" name="" id="photo" class="form-control" required >
