body {
  background-image: url("card.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#navbar {
  position: top;
  padding: 20px;
}

.jumbotron {
  margin: 100px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  opacity: ;
  background: rgba(242, 242, 242, 0.5);
  
}

.containerform {
  margin: 100px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  opacity: ;
  background: rgba(242, 242, 242, 0.5);
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.container {
  /*text-align: center;*/
  font-size: 20px;
}

.navbtn {
  float: right;
  margin-right: 10px;
}

.btn {
  min-width:90px;
  font-size: 15px;
  padding: 8px;
  align-items: center;
 /* margin-right: 10px;*/
}



.login {
  position: center;
}
.footer {
  bottom: 0;
  position: relative;

}

.input-group {
  opacity: 100;
}

/*media queries*/

@media (min-width: 768px) {
  #jumbotron {
    min-height: 100%;
  }


@media (min-width: 992px) {
  .container {
    margin: 20px auto 0;
  }

/*@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }*/